* {
  box-sizing: border-box;
}

.form__container {
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
}

form input[type=text],
form input[type=tel],
form input[type=email],
form input[type=submit],
form textarea {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}
form select {
  margin: 10px;
  padding: 5px 10px;
}
form input[type=checkbox] {
  margin: 10px;
}

form textarea {
  height: 60px;
  resize: none;
}

form input[type=submit] {
  margin-top: 20px;
}
